example/basic/export/workflows.json
[{"createdAt":"2025-03-01T15:54:11.625Z","updatedAt":"2025-03-01T15:54:11.625Z","id":"YoZxFh4gQHIwaFwF","name":"Conversor Temperatura","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"215b7db7-a3ae-4dc2-b75e-a7999671152c","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"380261bf-37b9-4e16-bc87-79722fd19a43","name":"temp","value":10,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"6d705bf6-f8a1-46d9-9660-fc695e1e5cab","name":"Temperatura Celsius"},{"parameters":{"jsCode":"const tempCelsius = $input.first().json.temp\n\nconst tempFahren = (tempCelsius * 1.8) +32\n\nconst result = {\n  tempCelsius: tempCelsius,\n  tempFahren: tempFahren\n}\n\nreturn {json: result}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"699e4c00-65ac-42bb-8d28-9d8dbae06b2d","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"2be00599-fe72-4a23-bac1-17f0a043d41e","name":"result","value":"={{ $json.tempFahren }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"9de247a8-0676-4279-8811-c6af340805a9","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Temperatura Celsius","type":"main","index":0}]]},"Temperatura Celsius":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f5e8bab0-3896-462a-950d-6a312f6cd305","triggerCount":0,"tags":[]},{"createdAt":"2025-03-04T14:06:45.190Z","updatedAt":"2025-03-04T14:10:20.000Z","id":"zI3UL6NPKALA8sj0","name":"Gotenberg","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9c19d429-5e07-42c8-8e74-54496ca249fe","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0],"id":"3f929e32-3ef0-41ed-ba56-f0ff6b652e1b","name":"HTML"},{"parameters":{"operation":"toBinary","sourceProperty":"html","options":{"fileName":"index.html","mimeType":"text/HTML"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[440,0],"id":"54b7b4a8-6ab2-4240-aef8-68159187d10b","name":"Convert to File"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a0ab790a-74b9-4df3-88ea-c980fa34a38d","triggerCount":0,"tags":[]}]